<StackLayout>
    <StackLayout orientation="horizontal">
        <Label text="Rank" textWrap="true"></Label>
        <Label text="Name" textWrap="true"></Label>
        <Label text="Score" textWrap="true"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Label text="1" textWrap="true"></Label>
        <Label text="Raven" textWrap="true"></Label>
        <Label text="25" textWrap="true"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Label text="2" textWrap="true"></Label>
        <Label text="Mikee" textWrap="true"></Label>
        <Label text="23" textWrap="true"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Label text="3" textWrap="true"></Label>
        <Label text="Ponnex" textWrap="true"></Label>
        <Label text="20" textWrap="true"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Label text="4" textWrap="true"></Label>
        <Label text="Kring" textWrap="true"></Label>
        <Label text="15" textWrap="true"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Label text="5" textWrap="true"></Label>
        <Label text="Cliff" textWrap="true"></Label>
        <Label text="12" textWrap="true"></Label>
    </StackLayout>
</StackLayout>