label {
    vertical-align: top;
    height: auto;
    width: auto;
    padding-top: 20px;
    padding-left: 40px; 
    text-align: center;
    
}
img {
    display: block;
}
button {
    color: #000;
}
.top-score-screen-label {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.top-score-screen-layout-border :first-child {
    margin-left: 10%;
}
