label {
    padding-top: 20px;
    font-size: 24px;
    margin: auto;
}
img {
    display: block;
}
button {
    color: #000;
}
.top-score-screen-label {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.top-score-layout-border {
    font-weight: bold;
}
