<AbsoluteLayout class="backgroundImage">
    <StackLayout height="100%" width="100%">
        <Image id="basketballRing" src="res://basketball_ring" height="50%" width="40%" style.marginLeft="30%" style.marginRight="30%"></Image>
        <StackLayout orientation="horizontal" height="50%" width="60%" style.marginLeft="20%" style.marginRight="20%">
            <Image src="res://settings_button" height="25%" width="20%" style.marginLeft="10%"></Image>
            <Image src="res://play_button" (tap)="onPlayTap()" width="20%" height="90%" style.marginLeft="10%" style.marginRight="10%"></Image>
            <Image src="res://trophy_button" (tap)="goToTopScoreScreen()" height="25%" width="20%" style.marginRight="10%"></Image>
        </StackLayout>
    </StackLayout>
</AbsoluteLayout>