<StackLayout class="backgroundImage">
    <Image src="res://basketball_arcade" height="40%" width="auto" style.marginTop="3%" style.marginLeft="10%" style.marginRight="10%"></Image>
    <StackLayout orientation="vertical" height="60%">
        <Image src="res://play_button" (tap)="goToPlayScreen()" width="auto" style.marginLeft="30%" style.marginRight="30%"></Image>
        <Image src="res://top_score_button" (tap)="goToTopScoreScreen()" width="auto" style.marginLeft="40%" style.marginRight="40%"></Image>
    </StackLayout>
</StackLayout>