.textCenter {
    font-size: 42;
    text-align: center;
    display: flex;
    align-items: center;
    color: green;
}

.textCenterSmall {
    font-size: 32;
    text-align: center;
    display: flex;
    align-items: center;
    color: red;
}

.backgroundImage {
    background-image: url("res://scoreboard");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.minutesCount,
.secondsCount,
.basketScore {
    font-size: 85;
    font-weight: bold;
    margin-top: 30;
}

.minutesCount {
    margin-left: 20;
}

.secondsCount {
    margin-right: 20;
}

.basketScore {
    color: red;
}